{# templates/team/index.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <h1>Présentation de l'Équipe et du Restaurant</h1>
    
    <section>
        <h2>Notre Équipe</h2>
        <p>Voici une présentation de notre équipe passionnée qui travaille avec dévouement pour vous offrir le meilleur service.</p>
        <!-- Ajoutez ici des informations sur les membres de l'équipe -->
    </section>
    
    <section>
        <h2>Notre concept</h2>
        <p>Vivez un vrai voyage culinaire chez Babi Meal, un restaurant qui met l’Afrique de l’Ouest à l’honneur dans les assiettes.
         Situé rue Salvador Allende à La Roche-sur-Yon, il vous accueille au déjeuner comme au dîner pour un moment de dégustation exotique.
        Ivoirienne, réunionnaise ou créole, la cuisine est faite maison avec des saveurs épicées ou sucrées salées, mais toujours équilibrées.
        Installez-vous dans une salle colorée où la musique participe à l’évasion, dans une ambiance conviviale et enjouée.
        Les viandes et les poissons sont fumés avant d’être cuits en grillade au charbon de bois.
        Généreux, copieux et surtout délicieux, chaque plat est préparé avec passion à travers des recettes africaines traditionnelles. </p>
        <!-- Ajoutez ici des informations sur le restaurant -->
    </section>
</div>
{% endblock %}
