<footer class="bg-dark text-light text-center text-lg-start">
    <!-- Grid container -->
    <div class="container-fluid p-4">
        <!--Grid row-->
        <div class="row d-flex align-items-stretch">
            <!--Grid column LOGO et Nom du resto-->
            <div class="col-lg-4 col-md-4 col-sm-12 mb-4 mb-md-0 d-flex justify-content-center align-items-center">
                <div class="logo-container">
                    <img class="logo" src="{{ asset('divers/images/logo.jpg') }}" alt="Logo" style="width: 80px; margin-right: 10px;">
                    <span class="resto-name" style="color: orange; font-size: 20px; font-weight: bold;">BABIMEAL RESTO AFRO EXOTIQUE</span>
                </div>
            </div>
            <!--Grid column-->

            <!--Grid column Horaires et adresse du resto -->
            <div class="col-lg-4 col-md-4 col-sm-12 mb-4 mb-md-0 d-flex flex-column justify-content-center text-light">
                <h5 class="text-uppercase mb-0" style="color: orange;">Horaires</h5>
                <ul class="list-unstyled">
                    <li>Lundi, mercredi, jeudi : 12h00-14h00 / 19h00-21h30</li>
                    <li>Mardi : Fermé</li>
                    <li>Vendredi: 19h00-22h30</li>
                    <li>Samedi : 12h00-14h00 / 19h00-22h30</li>
                    <li>Dimanche : 19h00-21h30</li>
                </ul>
            </div>
            <!--Grid column-->

            <!--Grid column Contact-->
            <div class="col-lg-4 col-md-4 col-sm-12 mb-4 mb-md-0 d-flex flex-column justify-content-center align-items-center">
                <h5 class="text-uppercase"><a class="contact" href="{{ path('app_contact') }}" style="color: orange; font-weight: bold;">Contact</a></h5>
                <p>02 28 97 31 24</p>
                <p><a href="{{ path('app_mentions_legales') }}" class="text-light-me-2">Mentions légales</a></p>
                <div class="social-links mt-2">
                    <a href="https://www.instagram.com/babimeal/" class="text-light me-3"><i class="fa-brands fa-instagram fa-lg"></i></a>
                    <a href="https://www.facebook.com/p/Restaurant-BABI-MEAL-100089946859123/?locale=fr_FR" class="text-light"><i class="fa-brands fa-square-facebook fa-lg"></i></a>
                </div>
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="copyright text-center p-3" style="background-color: rgba(0, 0, 0, 0.9); color: white;">
        © 2024 - Site réalisé par Cindy Guignard -
        <a class="portfolio-link" href="https://julien-dahy.com/" style="color: orange;">Mon portfolio</a>
    </div>
    <!-- Copyright -->
</footer>
