body{
    background-image: url('/divers/images/fond.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
}

h2{
    font-weight: 900;
    color: white;
}

.button{
    font-weight: bold;
    width: 60%;
} 

.button:hover{
    background-color: white;
}