.container-fluid{
    padding : 10px 0px 0px 0px !important;
}

/* Styles pour le logo */

.logo-container {
    display: flex;
    justify-content: center; /* Centrer horizontalement */
    align-items: center; /* Centrer verticalement */
    height: 200px; /* Prendre toute la hauteur de la colonne */
    width: 200px;
}

.logo {
    max-height: 100%; /* Réduire la hauteur du logo à 50% de la hauteur disponible */
    max-width: 100%; /* Réduire la largeur du logo à 50% de la largeur disponible */
    object-fit: contain; /* Conserver les proportions du logo */

}

 h5{
    color:#f39112;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal; 
    padding: 5px 0;
 }


 .list-unstyled li{
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings:"wdth" 100;
    padding: 3px 0; /* Exemple d'espacement interne */
 }

 a{
    font-weight: 800;
    font-style: normal; 
    padding: 5px 0;
    text-decoration: none;
    color: #f39112;
 }

 a:hover{
    color:black;
 }

 p{
    font-family: "Noto Sans", sans-serif;
    font-weight: 800;
 }

 .social-links {
    display: flex;
    gap: 15px; /* Espace entre les icônes */
    justify-content: center; /* Centrer les icônes */
}

.social-links a {
    color: #f39112; /* Couleur par défaut des icônes */
    font-size: 24px; /* Taille des icônes */
    transition: transform 0.3s ease, color 0.3s ease; /* Transition douce pour le survol */
    text-decoration: none; /* Retirer le soulignement */
    font-size: 48px;
}

.social-links a:hover {
    color: black; /* Couleur des icônes au survol */
    transform: scale(1.2); /* Agrandir les icônes au survol */
}

.copyright{
    font-family: "Noto Sans", sans-serif;
    font-style: italic;
    font-weight: bold;
    color: white;
 }

/* Ajouter la couleur orange au texte du portfolio */

.portfolio-link {
    color: orange; /* Couleur orange */
    text-decoration: none; /* Optionnel : retire le soulignement par défaut */
}

.portfolio-link:hover {
    color: darkorange; /* Couleur orange plus foncée au survol (optionnel) */
}

