body{
    background-color:black;
}

h1{
    margin:40px 0px;
    text-align: center;
    font-weight: 900;
}

h2{
    margin: 40px;
}

h2, p{
    color: rgb(207, 198, 198);
}

strong{
    color:brown;
}