/* Style pour rendre le texte "Aucun fichier choisi" visible en blanc */
.form-control-file {
    color: white;
}

/* Style pour améliorer la lisibilité du texte du champ file input */
.form-control-file::file-selector-button {
    color: #fff;
    background-color: #f39112;
    border: 1px solid #000;
}

.form-control-file::file-selector-button:hover {
    background-color: white;
    color: black;
}
